<a href="https://colab.research.google.com/github/parksinyu/BP_10_Ch5/blob/main/EXE221107_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 20                  #나이 입력
if age <20:               #만약 20살 미만이라면
  print('20살 미만')      #'20살 미만' 출력
else:                     #20살 미만 그 외
  print('20살 이상')      #'20살 이상' 출력

20살 이상

In [ ]:
age = 33                              #나이 입력
if age >= 30 and age <= 50:           #만약 나이가 30살 이상이고 50살 이하라면
 print('30살 이상이고 50살 이하')     #'30살 이상이고 50살 이하' 출력

30살 이상이고 50살 이하

In [ ]:
temp = int(input("현재 온도를 입력하시오"))    #현재온도 입력

if temp >= 25:                                 #만약 온도가 섭씨25도 이상이라면
  print("반바지를 입으세요")                   #'긴바지를 입으세요' 출력
else:                                          #섭씨25도 이상 외
  print("긴바지를 입으세요")                   #'긴바지를 입으세요' 출력

현재 온도를 입력하시오13
긴바지를 입으세요

In [ ]:
score = int(input("성적을 입력하시오: "))     #성적 입력

if score >= 90:                              #만약 성적이 90점 이상
  print("A학점입니다.")                      #'A학점입니다' 출력
elif score >= 80:                            #성적이 80점 이상
  print("B학점입니다.")                      #'B학점입니다' 출력
elif score >= 70:                            #성적이 70점 이상
  print("C학점입니다.")                      #'C학점입니다' 출력
elif score >= 60:                            #성적이 60점 이상
  print("D학점입니다.")                     #'D학점입니다' 출력
else :                                      #그 외
  print("F학점입니다.")                     #'F학점입니다' 출력

성적을 입력하시오: 99
A학점입니다.

In [ ]:
import random                             #랜덤 불러옴
x = random.randint(1,100)                 
y = random.randint(1,100)

ans = int(input(str(x)+"-"+str(y)+"="))

if ans == x-y :
  print("맞았습니다.")
else :
  print("틀렸습니다")

46-34=12
맞았습니다.

In [ ]:
n = int(input("정수를 입력하시오: "))

if n%2==0 and n%3==0:
  print("2와 3으로 나누어 떨어집니다.")
else :
  print("2와 3으로 나누어 떨어지지 않습니다.")

정수를 입력하시오: 26
2와 3으로 나누어 떨어지지 않습니다.

In [ ]:
import random 

solution = random.randint(0,99)

user = int(input("복권번호를 입력하시오(0에서 99사이): "
))

digit1 = solution // 10
digit2 = solution % 10

u_digit1 = user // 10
u_digit2 = user % 10

print("당첨번호는", solution, "입니다.")
if(digit1 ==u_digit1 and digit2 == u_digit2):
  print("상금은 100만원 입니다.")
elif(digit1 == u_digit1
     or digit1 == u_digit2
     or digit2 == u_digit1
     or digit2 == u_digit2):
  print("상금은 50만원입니다.")
else:
  print("상금은 없습니다.")

복권번호를 입력하시오(0에서 99사이): 15
당첨번호는 64 입니다.
상금은 없습니다.

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")

x1 = int(input("큰 원의 중심좌표 x1: "))
y1 = int(input("큰 원의 중심좌표 y1: "))
r1 = int(input("큰 원의 반지름: "))
x2 = int(input("작은 원의 중심좌표 x2: "))
y2 = int(input("작은 원의 중심좌표 y2: "))
r2 = int(input("작은 원의 반지름: "))

t.penup()
t.goto(x1,y1)
t.pendown()
t.circle(r1)

t.penup()
t.goto(x2,y2)
t.pendown()
t.circle(r2)

dist = ((x1 - x2) * (x1 - x2) + (y1 - y2) * (y1 - y2)) **0.5
if dist <= r1-r2:
  turtle.write("두번째 원이 첫번째 원의 내부에 있습니다.")
elif dist <= r1+r2:
  turtle.write("두번째 원이 첫번째 원과 겹치지 않습니다.")
t._screen.exitonclick()                     #화면을 마우스로 클릭해야 종료되게 하는 부분